/SketchModeller/.vs/SketchModeller/v15/Server/sqlite3/storage.ide-wal
/SketchModeller/.vs/SketchModeller/v15/Server/sqlite3/storage.ide-shm
/SketchModeller/.vs/SketchModeller/v15/Server/sqlite3/storage.ide
/SketchModeller/.vs/SketchModeller/v15/Server/sqlite3/db.lock
/SketchModeller/packages/
